@media screen and (max-width: 991px){
    .news-content {
        background-color:rgba(255,255,255,0.5);
    }
}

@media screen and (max-width: 370px){
    .contact-map {
        width: 300px;
        height: 300px;
    }

    .slider .block h1 {
        font-size: 30px;
    }

    img.tso-logo {
        width: 60px;
        height: 60px;
    }
}

.navigation a.navbar-brand {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.page-title, .bg-2 {
    background-size: cover;
    background-repeat:  no-repeat; 
    background-position: bottom center; 
}

//・黒い二重線による取り消し線
span.del {
  text-decoration-line: line-through;
  text-decoration-style: double;
  text-decoration-color: black;
}