@media screen and (max-width: 991px){
    .news-content {
        background-color:rgba(255,255,255,0.5);
    }
}

.navigation a.navbar-brand {
    background-color: blue;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}