.experience {
  text-align: center;
}

.experience-skill {
    margin-top: 40px;
  }
  
  .experience h3,
  .skill h3 {
    color: #6f6f6f;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  .experience-chart {
    list-style: none;
    padding: 0px 0px 0px 6px;
    margin-top: 40px;
  }
  
  ul.experience-chart li {
    padding-left: 30px;
    border-left: 2px solid #6f6f6f;
    padding-bottom: 10px;
    position: relative;
  }
  
  ul.experience-chart li:last-child {
    padding-bottom: 0;
  }
  
  ul.experience-chart li:after {
    position: absolute;
    top: -1px;
    left: -12px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4d4d4d;
    background: #fff;
    content: '';
    -webkit-transition: all 0.3s;
    transition: all 0.7s;
  }
  
  ul.experience-chart li:hover:after {
    background: #4d4d4d;
  }
  
  ul.experience-chart h4 {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    color: #4d4d4d;
  }
  
  .experience-chart li span {
    font-weight: 700;
    color: #6f6f6f;
  }
  
  .experience-chart li p {
    color: #6f6f6f;
  }
  
  .single-experience {
    position: relative;
    top: -2px;
  }