div.simple-table table {
	width: 100%;
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	background: #ffffff;
	margin-top:2em;
	margin-bottom:3em;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	border-collapse: collapse;
    color:#000000;
}

@media screen and (max-width: 480px){
    div.simple-table table {
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

	div.simple-table .practice {
		font-size: 0.9em;
	}
}

div.simple-table table th{
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
    padding:10px;
    text-align: center;
}
div.simple-table table td {
	font-size: 0.9em;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
    text-align: center;
    padding:10px;
}

div.simple-table table th {
	white-space: nowrap;
	background-color: #f3f0f0;
}

div.simple-table table.practice {
	margin: 0;
}
div.simple-table table.practice th {
	padding: 4px;
}
div.simple-table table.practice td {
	padding: 4px;
}

div.simple-table .year {
	text-align: left;
	background-color: #f8f8f8;
}

div.simple-table .sat {
	color: blue;
}

div.simple-table .sun {
	color: red;
}

div.simple-table .date {
	text-align: right;
}

div.simple-table .time {
	text-align: left;
}

div.simple-table .place {
	text-align: left;
}

div.simple-table .plan {
	text-align: left;
}

div.simple-table .conductor {
	text-align: left;
	color: red;
}

div.simple-table .trainer {
	text-align: left;
	color: blue;
}

div.simple-table .member {
	text-align: left;
	color: black;
}

div.simple-table .holiday {
	font-weight: bold;
	color: green;
}

div.simple-table .rehersal {
	font-weight: bold;
	color: blue;
}

div.simple-table .concert {
	font-weight: bold;
	color: red;
}

div.simple-table .remarks {
	text-align: left;
}

div.simple-table .separator {
	background-color: lightgray;
}
