/*=================================================================
  Single Blog Page
==================================================================*/
.post.post-single {
  border: none;
  .post-thumb {
    margin-top: 30px;
  }
}

time.latest-news-time {
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
}

.latest-news-description {
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
}

ul.latest-news-list {
  margin: 10px 10px 40px 10px;
}