{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="post-thumb">
				<img class="img-responsive" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}"><br/><br/>
			</div>
			<div class="block">
				<div class="col-md-12">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Call to action -->
{{ if $data.about.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}
