{{ $data := index site.Data site.Language.Lang }}
{{ with $data.homepage.contact }}
<section id="contact" class="contact">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>{{ .description | markdownify }}</p>
          <div class="block">
            <ul class="address-block">
              <li><i class="ion-ios-location-outline"></i><span class="">{{i18n "location"}} : {{ site.Params.location | markdownify }}</span></li>
              <li><i class="ion-ios-telephone-outline"></i>{{i18n "phone"}}: {{ site.Params.phone }}</li>
              <li><i class="ion-ios-printer-outline"></i>{{i18n "fax"}}: {{ site.Params.fax }}</li>
            </ul>
            {{ if .button.enable }}
            {{ with .button }}
            <p><a href="{{ .link | relLangURL }}" class="btn btn-contact">{{ .label }}</a></p>
            {{ end }}
            {{ end }}  
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <iframe class="contact-map"src="{{ .map | relURL }}" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
  </section>
  {{ end }}