{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- banner -->
{{ if $data.homepage.banner.enable }}
{{ with $data.homepage.banner }}
<section class="slider {{if .bg_overlay}}overly{{end}}" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .title | markdownify }}</h1>
          <p>{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" target="_blank" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<!-- about -->
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .title | markdownify }}</h2>
            <p>{{ .description | markdownify }}</p>
          </div>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
{{ end }}
{{ end }}

<!-- News -->
{{ if $data.homepage.news.enable }}
{{ $news := where site.RegularPages "Section" "==" "news" }}
{{ if gt ($news) 0}}
{{ with $data.homepage.news }}
<section class="feature bg-2" style="background-image: url('{{ $data.homepage.news.bg_image | absURL}}')">
  <div class="container">
    <div class="row">
      <div class="news-content col-md-8 col-md-offset-5">
        <h2 class="section-subtitle">{{ .title | markdownify }}</h2>
        <ul class="latest-news-list">
          {{ range first 5 ($news)}}
          <li>
            <h3 class="post-title">
              {{ range .Params.categories }}
              <label class="btn btn-sm btn-primary">
                <a style="color: white;" href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | title | humanize }}</a>
              </label>
              {{ end }}
              <a class="latest-news-description" href="{{ .Permalink }}">
                <time class="latest-news-time">
                  {{.Params.Date.Format "2006年01月02日"}}
                </time>
                  {{ .Params.title }}
              </a>
            </h3>
          </li>
          {{ end }}
        </ul>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" class="btn btn-view-works">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}

<!-- Call to action -->
{{ if $data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

<!-- Contact -->
{{ if $data.homepage.contact.enable }}
{{ partial "contact.html" . }}
{{ end }}
<!-- /Contact -->

{{ end }}